* {
box-sizing: border-box;
} 

body, html {
	background: #fff;
	height: 100%;
	margin: 10px;
}

 .container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}


.left__cnnLogo { 
	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 50%;
	border-radius: 250px;
	border: 2px solid #FFF;
	padding: 20px; 
	width: 155px;
	height: 155px; 

} 

.left__heading{
	float: left;
	position: absolute;
	font-family: Verdana;
	font-size: 30px;
	color: #fff;
	padding-left: 250px;
}

.left__info{
	float: left;
	position: absolute;
	color: #f5726d;
	width: 600px;
	font-size: 20px;
	text-align: center;	
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 350px;
}

.left__img {
	position: absolute;
	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 20px;
	width: 600px;
	height: 400px; 

} 


.right__cnnLogo {
	float: left;
	display: block;
	margin-left: 710px;
	margin-top: 290px;
	position: absolute;
	border-radius: 250px;
	padding: 25px; 
	width: 110px;
	height: 110px; 

}

.right__heading{
	float: left;
	position: absolute;
	font-family: Verdana;
	font-size: 38px;
	color: #ff2a1f;
	margin-top: 340px;
	margin-left: 850px;

}

.right__info{
	float: left;
	position: absolute;
	font-size: 17px;
	padding-left: 710px;
	padding-top: 380px;
	color: #fff;
} 



.right__img {
	float: left;
	position: absolute;
	display: block;
	width: 50%;
	border-radius: 20px;
	width: 600px;
	height: 400px; 
	margin-left: 700px;
}






.clearfix {
	overflow: auto;
}

@media only screen and  (max-width: 500px) {


	.left__img {
		margin: 50px;
		max-width: 250px;
		max-height: 150px;

	} 

	.left__cnnLogo {
		max-width: 100px;
		max-height: 100px;
		border: 0px;
		margin-left: 35px;
		margin-top: 115px;
	} 

	.left__heading{
		font-size: 20px;
		font-family: Verdana;
		color: #000;
		padding-left: 60px;
		padding-top: 25px;
	}

	.left__info{
		font-family: Verdana;
		max-width: 300px;
		color: #000;
		font-size: 12px;
		text-align: center;
		padding-top: 200px;
		padding-left: 50px;
	}

	.right__img {
		margin-top: 350px;
		margin-left: 50px;
		max-width: 250px;
		max-height: 150px;

	} 

	.right__cnnLogo {
		margin-top: 330px;
		margin-left: 220px;		
		max-width: 100px;
		max-height: 100px;
		border: 0px;
	} 


	.right__info{
		font-family: Verdana;
		max-width: 300px;
		color: #fff;
		font-size: 12px;
		text-align: center;
		padding-top: 450px;
		padding-left: 50px;
	}
}


